.container {
    max-width: 768px;
    border: 1px solid blue;
}

.banner {
    display: block;
    width: 100%;
}

.tablas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}